* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea,
input {
  -webkit-touch-callout: initial !important;
  -webkit-user-select: initial !important;
  -khtml-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
}
:root {
  --sait: var(--android-safe-area-inset-top, env(safe-area-inset-top));
  --saib: var(--android-safe-area-inset-bottom, env(safe-area-inset-bottom));
  --sail: var(--android-safe-area-inset-left, env(safe-area-inset-left));
  --sair: var(--android-safe-area-inset-right, env(safe-area-inset-right));
}
body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
*,
:after,
:before {
  box-sizing: border-box;
}
button:disabled,
input:disabled {
  cursor: not-allowed;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coin {
  background: #ffde00;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.coin:before {
  background-color: #ff9900;
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 100px;
  width: 100px;
  transform: translateZ(-7.5px);
}

.coin:after {
  background-color: #ff9900;
  content: '';
  left: 42.5px;
  position: absolute;
  height: 100px;
  width: 7.5px;
  z-index: -10;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}

.tails {
  background-color: #ff9900;
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 100px;
  width: 100px;
  transform: translateZ(-0.05px);
  border: 1px solid #ff9900;
}

.heads {
  background-color: #ffde00;
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 100px;
  width: 100px;
  transform: translateZ(-7.55px);
  border: 1px solid #ff9900;
}
