<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615653201427-idf3q4qe52pcepe4qjljldq3slm0l8ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615653201427-idf3q4qe52pcepe4qjljldq3slm0l8ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBzVnYqU0PDQSeZ-7JOp9zMg9hEK_mdWE4</string>
	<key>GCM_SENDER_ID</key>
	<string>615653201427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minsekim.reactboilerplate</string>
	<key>PROJECT_ID</key>
	<string>react-nodejs-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>react-nodejs-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615653201427:ios:671080574ee29b7174d1e6</string>
</dict>
</plist>