<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770004842078-qojmnkjaucq0luciridg6qencf89j5ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770004842078-qojmnkjaucq0luciridg6qencf89j5ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBnwcf_FAl2rUoK595ManvDtFsygSyW_FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>770004842078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.react.boilerplate.ios</string>
	<key>PROJECT_ID</key>
	<string>mullo-efcc2</string>
	<key>STORAGE_BUCKET</key>
	<string>mullo-efcc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770004842078:ios:fa64eebe34a258b77e26cf</string>
</dict>
</plist>